
@{
    ViewData["Title"] = "Basic";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="col-sm-12" style="background:#808080; margin: 15px; text-align: center;">
    <h2>Basic</h2>
</div>
<div class="col-sm-12" style="background: #808080; margin: 15px;">
    <p>This is content</p>
</div>
